# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all directories
!*/

# Ignore all files finishing with .out
*.out
*.txt
*.gcda
*.gcno

# Ignore Makefiles and tests
# Makefile
# **/tests/

# Ignore object files and .so and header files
# *.h
*.o
*.so
*-
*.swp
*.a
*.class
*.log
*.core
